.App {
	text-align: center;
}

img {
	margin: 0 auto;
}

.textCenter {
	width: 70%;
	margin: 0 auto;
}

.titleBold {
	font-weight: bold;
	font-size: 30px;
}

.dateBold {
	font-weight: bold;
	font-size: 20px;
}
